.navigationBar {
    width: 100%;
    margin: auto;
    font-family: 'Fira Sans', Helvetica, sans-serif;
}

.navbar-brand {
    margin: 0;
    margin-left: 60px;
    padding: 24px 16px 24px 16px;
    font-family: 'Fira Sans', Helvetica, sans-serif;
    background-color: grey;
}

a {
    font-weight: bolder;
}

.container {
    width: auto;
    max-width: 1024px;
    margin: 24px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 16px;
    text-align: center;
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 576px) {
    .wrapper {
        width: 100%;
    }
    .container {
        width: 100%;
        margin: 0;
    }
    .navbar-brand {
        margin-left: 25%;
    }
}